/* Coolors Exported Palette - https://coolors.co/ef798a-f7a9a8-e5e059-020202-d7eaea */

/* CSS HEX */
--bubblegum-pink: #ef798aff;
--powder-blush: #f7a9a8ff;
--pale-amber: #e5e059ff;
--black: #020202ff;
--azure-mist: #d7eaeaff;

/* CSS HSL */
--bubblegum-pink: hsla(351, 79%, 71%, 1);
--powder-blush: hsla(1, 83%, 81%, 1);
--pale-amber: hsla(58, 73%, 62%, 1);
--black: hsla(0, 0%, 1%, 1);
--azure-mist: hsla(180, 31%, 88%, 1);

/* SCSS HEX */
$bubblegum-pink: #ef798aff;
$powder-blush: #f7a9a8ff;
$pale-amber: #e5e059ff;
$black: #020202ff;
$azure-mist: #d7eaeaff;

/* SCSS HSL */
$bubblegum-pink: hsla(351, 79%, 71%, 1);
$powder-blush: hsla(1, 83%, 81%, 1);
$pale-amber: hsla(58, 73%, 62%, 1);
$black: hsla(0, 0%, 1%, 1);
$azure-mist: hsla(180, 31%, 88%, 1);

/* SCSS RGB */
$bubblegum-pink: rgba(239, 121, 138, 1);
$powder-blush: rgba(247, 169, 168, 1);
$pale-amber: rgba(229, 224, 89, 1);
$black: rgba(2, 2, 2, 1);
$azure-mist: rgba(215, 234, 234, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-right: linear-gradient(90deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-bottom: linear-gradient(180deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-left: linear-gradient(270deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-top-right: linear-gradient(45deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-bottom-right: linear-gradient(135deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-top-left: linear-gradient(225deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-bottom-left: linear-gradient(315deg, #ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);
$gradient-radial: radial-gradient(#ef798aff, #f7a9a8ff, #e5e059ff, #020202ff, #d7eaeaff);